<div class="section-fluid">
  <div class="row">
    <div
      class="col-sm-6 col-lg-3 login-projeto d-flex align-items-center justify-content-center"
    >
      <div>
        <div class="row gx-0">
          <div class="col-12 p-4">
            <h1 class="login-text-brand-linx" title="Linx">Linx</h1>
            <h2 class="login-text-brand-product text-truncate">MDM FISCAL</h2>
            <p class="login-copyright m-auto pb-3 pt-3 pt-sm-0">
              &copy; Linx - Todos direitos reservados
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-sm-6 col-lg-9 pt-2 pt-sm-0 d-flex align-items-center justify-content-center"
    >
      <div class="row p-4">
        <div class="col-md-12 text-center">
          <img
            class="img-fluid login__logo__linx"
            src="..\..\assets\images\login_logo_linx.png"
            alt=""
          />
        </div>
        <div class="col-md-12">
          <div>
            <p class="text-center py-3">
              Logue com sua conta de e-mail da <strong>Linx</strong>.
            </p>
          </div>
          <div class="d-grid col-12 col-md-6 mx-auto">
            <!-- <LxButton
              kind="primary"
              type="button"
              className="login-botao-logar"
              routerLink="/tabelas"
              [queryParams]="{ user: 'mdm', password: '1234', logged: 'true' }"
            >
              Conectar
            </LxButton> -->
            <button type="button" class="btn login-botao-logar">
              Conectar
            </button>
          </div>
        </div>
        <!-- BOTÃO SUPORTE -->
        <div class="fixed-bottom pb-4 d-none">
          <div class="d-flex flex-row-reverse">
            <div>
              <button type="button" class="btn btn-link login-botao-suporte">
                Suporte
              </button>
              <!-- <LxButton
                kind="tertiary"
                type="button"
                className="login-botao-suporte"
              >
                Suporte
              </LxButton> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
